@model Game_MVC.Models.Dto.GameUpdateDTO
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container mt-2">
    <div class="row">
        <div class="col-sm-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Game Update</h3>
                </div>
                <form method="post" action="/Project/Update">
                    <!--Hidden Input: Client bu input alanlarını göremez. Kendimiz için id'yi burada depoladık. Form submit olduğunda Update actin methoduna giderken bu Id bilgisinide böylelikle taşıyacak. Bunu yazmasaydık Id bilgisi kaybolacaktı.'-->
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <div class="card-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="Name" value="@Model.Name" class="form-control" placeholder="Project_Name">
                        </div>
                        <div class="form-group">
                            <label>Platform</label>
                            <input type="text" name="Platform" value="@Model.Platform" class="form-control" placeholder="Platform">
                        </div>
                        <div class="form-group">
                            <label>Dimension</label>
                            <input type="text" name="Dimension" value="@Model.Dimension" class="form-control" placeholder="Dimension">
                        </div>
                        <div class="form-group">
                            <label>Release_Date</label>
                            <input type="text" name="Release_Date" value="@Model.Release_Date" class="form-control" placeholder="Release_Date">
                        </div>
                        <div class="form-group">
                            <label>Language</label>
                            <input type="text" name="Language" value="@Model.Language" class="form-control" placeholder="Language">
                        </div>
                        <div class="form-group">
                            <label>Developer_Company</label>
                            <input type="text" name="Developer_Company" value="@Model.Developer_Company" class="form-control" placeholder="Developer_Company">
                        </div>

                        <div class="form-group">

                            <label>Chose Category</label>
                            <select name="CategoryId" class="form-control">

                                @foreach (var item in Model.Categories)
                                {

                                    <option value="@item.Id">@item.Name</option>
                                }

                            </select>



                        </div>


                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
